/* CORE GAME STYLE */

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
body,
html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    #051937,
    #044268,
    #007199,
    #00a3c6,
    #12d8eb
  );
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 2rem;
  color: lawngreen;
}

h1 b {
  color: greenyellow;
}

#GameWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
}

.GameScene {
  width: calc(1200px - 2rem);
  height: calc(800px - 2rem);
  position: relative;
  padding: 1rem;
}

.GameScene .Enemies {
  width: 75%;
  height: 100%;
  position: absolute;
  left: 12.5%;
  display: grid;
  z-index: 10;
  grid-template-columns: repeat(auto-fill, 3rem);
  grid-template-rows: repeat(auto-fit, 3rem);
}

.GameScene .Enemies .Enemy,
.GameScene .Enemies .Destroyed {
  position: relative;
  font-size: 2rem;
  user-select: none;
}

.GameScene .Player {
  position: absolute;
  left: calc(600px - 1rem);
  bottom: 1rem;
  transform: rotateZ(-45deg);
  font-size: 2rem;
  user-select: none;
  z-index: 10;
  /** let's add some cool transition effect */
  transition: left 0.1s ease-out;
}

.GameScene .Player.Damaged {
  border: 1px solid red;
}

.GameScene .Bullet {
  width: 5px;
  height: 10px;
  background: yellow;
  box-shadow: 0 2px 10px 0 red;
  position: absolute;
  transition: all 0.5s ease-out;
  z-index: 11;
}

.GameScene .EnemyBullet {
  width: 5px;
  height: 20px;
  background: red;
  box-shadow: 0 2px 10px 0 orange;
  position: absolute;
  transition: all 0.25s ease-out;
}

.GameScene .Bullet.Shooted {
  box-shadow: 0 2px 10px 0 red;
}

.GameScene .Earth {
  display: block;
  width: 100vw;
  height: 100vw;
  position: fixed;
  left: 0;
  bottom: -175vh;
  z-index: 0;
  background: url('../assets/images/planet-earth.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: spin-right 500s linear infinite;
}

.EarthOrbit {
  display: block;
  position: absolute;
  top: -25vw;
  left: -25vw;
  width: 150vw;
  height: 150vw;
  border: 2px #4a437f dashed;
  border-radius: 100%;
  transform-origin: 50% 50%;
  animation: spin-right 200s linear infinite;
  opacity: 0.5;
}

.EarthOrbit .Moon {
  transform: rotate(0deg);
  position: absolute;
  top: 30rem;
  left: 0;
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  background: url('../assets/images/moon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}
