/* CORE GAME STYLE */

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@font-face {
  font-family: 'DURA3D';
  src: url('/assets/fonts/DURA3D.ttf'); /* IE9 Compat Modes */
}
body,
html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    #010812,
    #071627,
    #03203e,
    #002955,
    #05326d
  );
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 2rem;
  color: lawngreen;
}

h1 b {
  color: greenyellow;
}

#GameWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
}

.HomeMenu {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 1rem;
  z-index: 10002;
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
}

.HomeMenu .Title {
  font-size: 5rem;
  color: #54a0ff;
  font-family: 'DURA3D', sans-serif;
  animation: scale-in-center-translated 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation-delay: 3s;
  text-shadow: 0px 10px 0px #ff9ff3;
}

.HomeMenu .Menu {
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
  text-align: center;
  color: #ff9ff3;
  font-size: 2rem;
}

.InGame .HomeMenu {
  animation: home-menu-start-game 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.HomeMenu .Menu p {
  cursor: pointer;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.HomeMenu .Menu p:first-child {
  animation-delay: 3.5s;
}
.HomeMenu .Menu p:last-child {
  animation-delay: 4s;
}

.GameScene {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 1rem;
  z-index: 10001;
  animation: slide-in-blurred-top 5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.InGame .GameScene {
  animation: game-scene-start-game 3s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.GameScene canvas {
  width: 100%;
  height: 100%;
  z-index: 10001;
}

.GameScene .Enemies {
  width: 40rem;
  height: 100%;
  position: absolute;
  left: 12.5%;
  display: grid;
  z-index: 10;
  grid-template-columns: repeat(auto-fill, 4rem);
  grid-template-rows: repeat(auto-fit, 4rem);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.GameScene .Enemies .Enemy {
  position: relative;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  width: 4rem;
  height: 4rem;
  transition: all 500ms ease-out;
  animation: vibrate-1 1s cubic-bezier(1, 0, 0, 1) infinite both;
}
.GameScene .Enemies .Enemy.DestroyedEnemy {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  margin-left: 1.5rem;
  transform: translateX(1.5rem) translateY(1.5rem);
}

.GameScene .Player {
  position: absolute;
  bottom: 1rem;
  transform: rotateZ(-45deg);
  font-size: 2rem;
  user-select: none;
  z-index: 10;
  /** let's add some cool transition effect */
  transition: all 0.1s ease-out;
  width: 3rem;
  height: 3rem;
}

.Player:before {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '🚀';
  transform: rotateZ(-45deg);
}

.GameScene .Player.Damaged {
  border: 1px solid red;
}

.GameScene .Bullet {
  width: 5px;
  height: 10px;
  background: yellow;
  box-shadow: 0 2px 10px 0 red;
  position: absolute;
  z-index: 11;
}

.GameScene .EnemiesBullet {
  width: 5px;
  height: 20px;
  background: red;
  box-shadow: 0 2px 10px 0 orange;
  position: absolute;
}

.GameScene .Bullet.Shooted {
  box-shadow: 0 2px 10px 0 red;
}

.GameScene .Earth {
  display: block;
  width: 500px;
  height: 500px;
  position: fixed;
  left: calc(50% - 250px);
  bottom: -350px;
  z-index: -1;
  background: url('../assets/images/planet-earth.png');
  background-repeat: no-repeat;
  background-size: cover;
  animation: spin-right 200s linear infinite;
}

.EarthOrbit {
  display: block;
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  border: 2px #4a437f dashed;
  border-radius: 100%;
  transform-origin: 50% 50%;
  animation: spin-right5s linear infinite;
  opacity: 0.5;
}

.EarthOrbit .Moon {
  transform: rotate(0deg);
  position: absolute;
  top: 0;
  left: 0;
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  background: url('../assets/images/moon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-4 17:15:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-10 13:49:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */
@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px);
    transform-origin: 50% 100%;
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: translateY(-30%) scaleY(0.5) scaleX(0.5);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 0.5;
  }
}

@keyframes game-scene-start-game {
  0% {
    transform: translateY(-60%) scaleY(0.5) scaleX(0.5);
    transform-origin: 50% 50%;
    opacity: 0.5;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-10 14:11:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@keyframes scale-in-center-translated {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  75% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(1) translateY(-100%);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes home-menu-start-game {
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
